#communication-example-container {
    position:relative;
    height:700px;
}

#communication-image {
    position:absolute;
    top:0;
    left:400px;
    width:110px;
    height:150px;
    background-color:black;
}

#communication-status {
    position:absolute;
    top:0;
    left:530px;
    line-height:25px;
}

#communication-device-1, #communication-device-2 {
    width:300px;
    height:400px;
    position:absolute;
    top:0;
    text-align:center;
}

#communication-device-1 iframe, #communication-device-2 iframe {
    margin-top:10px;
    height:350px;
    border:1px solid rgba(255, 255, 255, 0.3);
}

#communication-device-1 {
    left:150px;
}

#communication-device-2 {
    left:550px;
}

#communication-qr-code-container {
    width: 800px;
    position: absolute;
    top: 450px;
    left: 100px;
}

#communication-pop-up-link {
    float:left;
    width:350px;
    text-align:center;
}

#communication-qr-code {
    float:right;
    width:350px;
    text-align:center;
}

#communication-qr-code img {
    width:150px;
    height:150px;
}